@import url(./styles/normalize.css);
@import url(./styles/header.css);
@import url(./styles/burger.css);
@import url(./styles/sec_intro.css);
@import url(./styles/collections.css);
@import url(./styles/comments.css);
@import url(./styles/blog.css);
@import url(./styles/feedback.css);
@import url(./styles/prioritise.css);
@import url(./styles/footer.css);

.quote {
    margin: 150px auto;
    max-width: 705px;
    font-family: "Cormorant", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: 48.44px;
    text-align: center;
}

@media (max-width: 950px) {
    .quote {
        margin: 120px auto;
        padding: 0 20px;
    }
}

@media (max-width: 800px) {
    .quote {
        max-width: 550px;
        font-size: 32px;
    }
}

@media (max-width: 660px) {
    .quote {
        margin: 100px auto;
        font-size: 28px;
        line-height: 35.12px;
    }
}

@media (max-width: 485px) {
    .quote {
        max-width: 370px;
        margin: 60px auto;
        font-size: 16px;
        line-height: 21.79px;
    }
}