@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 99vw;
}

header {
    width: 100%;
    margin: 0 auto;
}

nav {
    max-width: 1200px;
    height: 140px;
    margin: 25px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo_head {
    height: 105px;
    padding: 0 0 35px 0;
}

.navHead {
    width: 40%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navHead > li {
    list-style: none;
}

.navHead > li > a {
    color: #151618;
    text-decoration: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 18px;
}

.frame {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frame_menu {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#imgHeader {
    height: 22px;
}

.null {
    height: 250px;
}

.intro {
    max-width: 1600px;
    height: 500px;
    margin: 0 auto;
    background-image: url(./images/intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.intro > h2 {
    width: 782px;
    margin-left: 10%;
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 60px;
    color: white;
    text-shadow:
        1px 1px 1px black,
        -1px 1px 1px black,
        1px -1px 1px black,
        -1px -1px 1px black,
        2px 2px 5px rgba(0, 0, 0, 0.5),
        -2px 2px 5px rgba(0, 0, 0, 0.5),
        2px -2px 5px rgba(0, 0, 0, 0.5),
        -2px -2px 5px rgba(0, 0, 0, 0.5);
}

.intro > p {
    width: 558px;
    margin-left: 10%;
    font-family: "Cormorant", serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}